## Combining Heuristic and AutoEncoder Scores

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [0]:
hu_df = pd.read_csv("fraud_ScoreAndRanks_HU.csv")
hu_df.head()

,Record,Manhattan_Hu_Score,Euclidean_Hu_Score,Euclidean_Hu_Rank,Manhattan_Hu_Rank
0,1,0.437133,0.180736,708335.0,718838.0
1,2,52.235506,23.200698,1070323.0,1070305.0
2,3,0.428782,0.185720,718343.0,712667.0
3,4,0.543465,0.214127,795351.0,834627.0
4,5,72.822482,31.750383,1070394.0,1070395.0

In [0]:
ae_df = pd.read_csv("fraud_ScoreAndRanks_AE.csv")
ae_df.head()

   Record  Manhattan Score  Euclidean Score  Euclidean Rank  Manhattan Rank
0       1         0.272159         0.115341        954649.0        960503.0
1       2        46.121536        21.033446       1070322.0       1070311.0
2       3         0.252420         0.128280        972192.0        945495.0
3       4         0.521360         0.217746       1025793.0       1029870.0
4       5        68.834449        30.306469       1070402.0       1070399.0

In [0]:
allScores_df = ae_df.join(hu_df.set_index('Record'), on='Record')

In [0]:
allScores_df.head()

,Record,Manhattan Score,Euclidean Score,Euclidean Rank,Manhattan Rank,Manhattan_Hu_Score,Euclidean_Hu_Score,Euclidean_Hu_Rank,Manhattan_Hu_Rank
0,1,0.272159,0.115341,954649.0,960503.0,0.437133,0.180736,708335.0,718838.0
1,2,46.121536,21.033446,1070322.0,1070311.0,52.235506,23.200698,1070323.0,1070305.0
2,3,0.252420,0.128280,972192.0,945495.0,0.428782,0.185720,718343.0,712667.0
3,4,0.521360,0.217746,1025793.0,1029870.0,0.543465,0.214127,795351.0,834627.0
4,5,68.834449,30.306469,1070402.0,1070399.0,72.822482,31.750383,1070394.0,1070395.0

In [0]:
#Check for NaNs
allScores_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070994 entries, 0 to 1070993
Data columns (total 9 columns):
Record                1070994 non-null int64
Manhattan Score       1070994 non-null float64
Euclidean Score       1070994 non-null float64
Euclidean Rank        1070994 non-null float64
Manhattan Rank        1070994 non-null float64
Manhattan_Hu_Score    1070994 non-null float64
Euclidean_Hu_Score    1070994 non-null float64
Euclidean_Hu_Rank     1070994 non-null float64
Manhattan_Hu_Rank     1070994 non-null float64
dtypes: float64(8), int64(1)
memory usage: 73.5 MB

## Euclidean

In [0]:
eucScores_df = allScores_df.loc[:, allScores_df.columns.str.contains('Euclidean')]
eucScores_df.insert(0,'Record',eucScores_df.index+1)
eucScores_df.head()

,Record,Euclidean Score,Euclidean Rank,Euclidean_Hu_Score,Euclidean_Hu_Rank
0,1,0.115341,954649.0,0.180736,708335.0
1,2,21.033446,1070322.0,23.200698,1070323.0
2,3,0.128280,972192.0,0.185720,718343.0
3,4,0.217746,1025793.0,0.214127,795351.0
4,5,30.306469,1070402.0,31.750383,1070394.0

In [0]:
wt_Hu = 0.5
wt_Ae=0.5
wt_Var=(wt_Hu**2)+(wt_Ae**2)
eucScores_df['Wt_AeHu_Zscore']=wt_Hu*eucScores_df['Euclidean_Hu_Score']+wt_Ae*eucScores_df['Euclidean Score']
#eucScores_df['Wt_AeHu_ZscoreII']=(wt_Hu*eucScores_df['Euclidean_Hu_Score']+wt_Ae*eucScores_df['Euclidean Score'])/(wt_Var)
eucScores_df.head()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Record,Euclidean Score,Euclidean Rank,Euclidean_Hu_Score,Euclidean_Hu_Rank,Wt_AeHu_Zscore
0,1,0.115341,954649.0,0.180736,708335.0,0.148039
1,2,21.033446,1070322.0,23.200698,1070323.0,22.117072
2,3,0.128280,972192.0,0.185720,718343.0,0.157000
3,4,0.217746,1025793.0,0.214127,795351.0,0.215937
4,5,30.306469,1070402.0,31.750383,1070394.0,31.028426

In [0]:
eucScores_df['Wt_AeHu_Z_Rank'] = eucScores_df['Wt_AeHu_Zscore'].rank(ascending=1)

eucScores_df.head()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Record,Euclidean Score,Euclidean Rank,Euclidean_Hu_Score,Euclidean_Hu_Rank,Wt_AeHu_Zscore,Wt_AeHu_Z_Rank
0,1,0.115341,954649.0,0.180736,708335.0,0.148039,912164.0
1,2,21.033446,1070322.0,23.200698,1070323.0,22.117072,1070321.0
2,3,0.128280,972192.0,0.185720,718343.0,0.157000,928360.0
3,4,0.217746,1025793.0,0.214127,795351.0,0.215937,982852.0
4,5,30.306469,1070402.0,31.750383,1070394.0,31.028426,1070400.0

In [0]:
eucScores_df.sort_values('Wt_AeHu_Z_Rank',ascending=False).to_csv('fraud_ScoreAndRanks_Euclidean.csv',index=False)

In [0]:
eucScores_df['Wt_AeHu_Zscore'].max()

1023.8836734134288

In [0]:
eucScores_df.sort_values('Wt_AeHu_Z_Rank',ascending=False).head(10)

,Record,Euclidean Score,Euclidean Rank,Euclidean_Hu_Score,Euclidean_Hu_Rank,Wt_AeHu_Zscore,Wt_AeHu_Z_Rank
632815,632816,1023.583126,1070994.0,1024.184221,1070994.0,1023.883673,1070994.0
565391,565392,903.965494,1070993.0,905.729812,1070993.0,904.847653,1070993.0
1067359,1067360,799.648807,1070992.0,801.692426,1070992.0,800.670616,1070992.0
917941,917942,710.210971,1070991.0,709.915523,1070991.0,710.063247,1070991.0
565397,565398,692.356204,1070990.0,692.897635,1070990.0,692.626920,1070990.0
585117,585118,600.665550,1070989.0,600.483166,1070989.0,600.574358,1070989.0
85885,85886,543.511974,1070988.0,544.696959,1070988.0,544.104466,1070988.0
585438,585439,497.138473,1070987.0,497.372377,1070987.0,497.255425,1070987.0
750815,750816,394.406620,1070986.0,396.482449,1070986.0,395.444535,1070986.0
585119,585120,375.355905,1070985.0,375.184429,1070985.0,375.270167,1070985.0